.checkout-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.checkout-input {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

.checkout-total {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 16px;
}
